@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Outfit:wght@400;700&family=Spartan:wght@400;500;700&display=swap');

:root{
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--white);
    display: grid;
    place-content: center;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-rows: auto;
    gap: 10px;
    max-width: 1300px;
    height: 70vh;
}

.grid-item{
    padding: 20PX;
    border-radius: 20px;
    height: auto;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img{
    border-radius: 50%;
    border: 1px solid var(--very-dark-blackish-blue);
    height: 40px;
}

.profile-data-name{
    color: var(--white);
    font-weight: 600;
    font-size: 1.5rem;
}

.profile-data-name-2{
    color: gray;
    font-weight: 600;
    font-size: 1.5rem;
}
.profile-data-subtitle{
    font-weight: 500;
    color: var(--white);
    opacity: 0.7;
    font-size: 1.1rem;
}

.profile-data-subtitle-2{
    font-weight: 500;
    color: gray;
    opacity: 0.7;
    font-size: 1.1rem;
}

.grid-item-description{
    color: var(--white);
    font-size: 1.9rem;
    font-weight: 600;
    margin: 10px 0;
}

.grid-item-description-2{
    color: gray;
    font-size: 1.9rem;
    font-weight: 600;
    margin: 10px 0;
}

.grid-item-citation{
    color: var(--light-gray);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.grid-item-citation-2{
    color: gray;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.grid-item-1{
    background-color: var(--moderate-violet);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-X: calc(90%);
    background-size: 70px;
    background-position-y: calc(5%);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.grid-item-2{
    background-color: var(--very-dark-grayish-blue);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.grid-item-3{
    background-color: var(--light-grayish-blue);
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    box-shadow: 5px 2px 29px -6px rgba(0,0,0,0.69);
}

.grid-item-4{
    background-color: var(--very-dark-blackish-blue);
    grid-column: 2 / 4;
    grid-row: 2 / -1;
}

.grid-item-5{
    background-color: var(--light-grayish-blue);
    grid-column: 4 / 5;
    grid-row: 1 / -1;
    box-shadow: 5px 2px 29px -6px rgba(0,0,0,0.69);
}

@media all and (max-width: 850px) {
    .grid-item-1{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .grid-item-2{
        grid-column: 3 / -1;
        grid-row: 1 / 2;
    }
    .grid-item-3{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .grid-item-4{
        grid-column: 3 / -1;
        grid-row: 2 / 3;
    }
    .grid-item-5{
        grid-column: 1 / -1;
        grid-row: 3 / -1;
    }
}

@media all and (max-width: 600px) {
    .grid-container{
        grid-template-rows: repeat(5,auto);
        padding: 25px;
        height: auto;
    }
    .grid-item-1{
        grid-column: 1 / -1;
        grid-row: 1/2;
    }
    .grid-item-2{
        grid-column: 1 / -1;
        grid-row: 2/3;
    }
    .grid-item-3{
        grid-column: 1 / -1;
        grid-row: 3/4;
    }
    .grid-item-4{
        grid-column: 1 / -1;
        grid-row: 4/5;
    }
    .grid-item-5{
        grid-column: 1 / -1;
        grid-row: 5/-1;
    }
}
